{% extends 'base.html' %}
{% load teachers_tags %}

{% block content %}
{% if request.user|teacher %}
<h1>Табель</h1>
{% if semester %}
    <a href="add/semester/">
        <button type="button" class="btn btn-primary">Розрахувати семестрову</button>
    </a>
{% endif %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th scope="col">Учень</th>
        <th scope="col">Перша семестрова</th>
        <th scope="col">Другий семестрова</th>
        <th scope="col">Річна</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
    <th scope="row">{{student}}</th>
        {% if first %}
        {% for mark in first %}
            {% if mark.student == student %}
                {% if mark.mark > 0 %}
                    <td>{{mark.mark}}</td>
                {% else %}
                    <td>НЗ</td>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% else %}
            <td>Немає</td>
        {% endif %}
        {% if second %}
        {% for mark in second %}
            {% if mark.student == student %}
                {% if mark.mark > 0 %}
                    <td>{{mark.mark}}</td>
                {% else %}
                    <td>НЗ</td>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% else %}
            <td>Немає</td>
        {% endif %}
        {% if year %}
        {% for mark in year %}
            {% if mark.student == student %}
                {% if mark.mark > 0 %}
                    <td>{{mark.mark}}</td>
                {% else %}
                    <td>НЗ</td>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% else %}
            <td>Немає</td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}