{% extends 'base.html' %}
{% load teachers_tags %}

{% block content %}
{% if request.user|teacher %}
    {% if form|form %}
    <div class="alert alert-success" role="alert">
        <h6>Оцінка учня {{student}}</h6>
        <div class="row">
            <form action="/teachers/journal/{{page.class_teacher.id}}/add/mark/" method="post">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Додати</button>
                <a href="/teachers/journal/{{page.class_teacher.id}}">
                    <button type="button" class="btn btn-danger">Скасувати</button>
                </a>
            </form>
        </div>
    </div>
    {% endif %}
    <h1>Журнал {{page.class_teacher.journal_id}}</h1>
    {% if topics %}
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            {{page}}
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
              {% for topic in topics %}
              <a href="?topic={{topic.id}}"
                 class="list-group-item list-group-item-action">{{topic}}</a>
              {% endfor %}
          </div>
        </div>
      </div>
    <form action="/teachers/journal/{{page.class_teacher.id}}/remake/topic/" method="post">{% csrf_token %}
        <input type="hidden" name="save" value="{{page.pk}}">
        <button type="submit" class="btn btn-primary">Зменити назву теми</button>
    </form>
    {% endif %}
    <form method="post" action="add/topic/"> {% csrf_token %}
          <input type="hidden" name="class_teacher" value="{{ class_teacher.id }}">
          <button type="submit" class="btn btn-primary">Нова тема</button>
    </form>
    {% if topics %}
    {% if not page.finish %}
        <form method="post" action="add/topical_mark/"> {% csrf_token %}
            <input type="hidden" name="date" value="{{ page.finish }}">
            <input type="hidden" name="teacher" value="{{ class_teacher.id }}">
            <input type="hidden" name="subject" value="{{ page.class_teacher.subject_id.id }}">
            <input type="hidden" name="topic" value="{{ page.id }}">
            <button type="submit" class="btn btn-primary">Розрахувати тематичну</button>
        </form>
    {% endif %}
    <a href="card/">
        <button type="button" class="btn btn-primary">Табель</button>
    </a>
    {% if dates %}
        <input type="button" class="btn btn-primary"
                   onclick="printDiv('printableArea')"
                   value="Печатати оцінки" />
    {% endif %}
    <div id="printableArea">
    <table class="table table-bordered table-striped">
        <thead>
    <tr>
      <th scope="col">Учень</th>
      {% for date in heads %}
        <th scope="col">{{date}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for student in students %}
      <tr>
      <th scope="row">{{student}}</th>
      {% for date in dates %}
          {% mark_filter date page student as mark_q %}
      {% if mark_q %}
        <td>{%get_simple_mark date page student%}</td>
      {% elif page.finish %}
          <td>---</td>
       {% else %}
        <td>
          <form method="post"> {% csrf_token %}
          <input type="hidden" name="student" value="{{ student.id }}">
          <input type="hidden" name="date" value="{{date|date:'d.m.Y'}}">
          <input type="hidden" name="teacher" value="{{ class_teacher.id }}">
          <input type="hidden" name="subject" value="{{ class_teacher.subject_id.id }}">
          <input type="hidden" name="topic" value="{{ page.id }}">
          <button type="submit" class="btn btn-light">---</button>
          </form>
        </td>
      {% endif %}
      {% endfor %}
      {% if page.finish %}
          <td>{{page|topical_mark:student}}</td>
      {% elif page.finish %}
          <td>---</td>
      {% elif dates|date_filter %}
        <td>
          <form method="post"> {% csrf_token %}
          <input type="hidden" name="student" value="{{ student.id }}">
          <input type="hidden" name="date" value="{{date|date:'d.m.Y'}}">
          <input type="hidden" name="teacher" value="{{ class_teacher.id }}">
          <input type="hidden" name="subject" value="{{ class_teacher.subject_id.id }}">
          <input type="hidden" name="topic" value="{{ page.id }}">
          <button type="submit" class="btn btn-light">---</button>
          </form>
        </td>
      {% endif %}
      </tr>
      {% endfor %}
  </tbody>
    </table>
    </div>
  {% endif %}
<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}