{% extends 'base.html' %}
{% load teachers_tags %}

{% block content %}
{% if request.user|teacher %}
<h1 class="col-md-8 mx-auto my-4">Змінення</h1>
<div class="col-md-8 mx-auto">
    <div class="row">
    <form action="{{ action }}" method="post">{% csrf_token %}
        <input type="hidden" name="id" value="{{id}}">
        <input class="form-control" name="input" value="{{input}}">
        <button type="submit" class="btn btn-primary">Змінити</button>
    </form>
</div>
</div>>
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}