{% extends 'base.html' %}
{% load secretaries_tags %}


{% block content %}
{% if request.user|secretary %}
    <div class="row">
        <div class="col-md">
            <h1>Вчителі класів</h1>
            {% if class_teachers %}
            <table class="table table-striped">
                <thead>
                  <tr>
                      <th scope="col">Номер класу</th>
                      <th scope="col">Предмети</th>
                      <th scope="col">Вчителі</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for teacher in class_teachers %}
                <tr>
                    <td>
                        {{teacher.journal_id}}
                    </td>
                    <td>
                        {{teacher.subject_id}}
                    </td>
                    <td>
                        {{teacher.teacher_id}}
                    </td>
                    <td>
                        <a href="{% url 'secretaries:refactor_teacher_class' pk=teacher.id %}">
                            <button type="submit" class="btn btn-primary">Редагувати вчителя</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'secretaries:delete_class_teacher' pk=teacher.id %}">
                            <button type="submit" class="btn btn-danger">Видалити вчителя</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
        </div>
    </div>
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}