{% extends 'base.html' %}
{% load secretaries_tags %}

{% block content %}
{% if request.user|secretary %}
<h1>Загрузка данних</h1>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input name="file" type="file" accept=".xlsx">
                <br>
                <button type="submit" class="btn btn-primary">Загрузити файл</button>
            </form>
        </div>
    </div>
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}