{% extends 'base.html' %}
{% load secretaries_tags %}

{% block content %}
{% if request.user|secretary %}
    <div class="row">
        <div class="col-md">
            <h1>Предмети</h1>
            {% if page_obj %}
            <table class="table table-striped">
                <thead>
                  <tr>
                      <th scope="col">Предмет</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for object in page_obj %}
                      <tr>
                        <td>
                            {{ object.name }}
                        </td>
                          <td>
                              <a href="{% url 'secretaries:refactor_subject' pk=object.pk %}">
                                <button type="submit" class="btn btn-primary">Редагувати</button>
                              </a>
                          </td>
                          <td>
                              <a href="{% url 'secretaries:delete_subject' pk=object.pk %}">
                                <button type="submit" class="btn btn-danger">Видалити</button>
                              </a>
                          </td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          {% for page in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            <li class="page-item"></li>
          {% endfor %}
        </li>
      </ul>
    </nav>{% endif %}
{% else %}
    {% include '403.html' %}
{% endif %}
{% endblock %}