{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 mx-auto">
<h1 class="col-md-8 mx-auto my-4">Новий пароль</h1>
<div class="row">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        {% if part == '1' %}
        <input type="hidden" name="part" value="2">
        <input type="hidden" name="code" value="{{code}}">
        <label>Логiн пользователя:</label>
        <input type="text" class="form-control" name='name' value="" placeholder="Логiн">
        <br>
        {% elif part == '3' %}
        <input type="hidden" name="name" value="{{name}}">
        <label>Код, котрий прийшов на ваш gmail акаунт:</label>
        <input type="number" class="form-control" name="code" value="" placeholder="Код">
        <br>
        <label>Новий пароль:</label>
        <input type="password" class="form-control" name="password" value="" placeholder="Пароль">
        <input type="hidden" name="part" value="4">
        <input type="hidden" name="ccode" value="{{code}}">
        <br>
        {% endif %}
        <button type="submit" class="btn btn-primary">Далi</button>
    </form>
</div>
</div>
{% endblock %}